/* Axis */
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 8px;
  fill: #6b6b6b;
}
.axis-title {
  font-size: 13px;
  fill: #1b1919;
}
.y-axis .tick:first-child line {
  stroke: #b1b1b1;
}
.y-axis .tick:first-child text {
  display: none;
}
.x-axis .tick:first-child line {
  display: none;
}
.axis path {
  display: none;
}



/* Stacked bar chart */
rect {
    shape-rendering: crispEdges;
}
/* https://www.heavy.ai/blog/12-color-palettes-for-telling-better-stories-with-your-data */

/* action: #ea5545
Sci-Fi: #f46a9b
drama: #ef9b20
Slice of life: #e2f770
mystery: #ede15b
comedy: #bdcf32
adventure: #87bc45
game: #27aeef
music: #b33dc6
harem: #d48e2d */

/* .cat-Action rect {
    fill: #ea5545;
}
.cat-Sci-Fi rect {
    fill: #f46a9b;
}
.cat-Drama rect {
    fill: #ef9b20;
}
.cat-Slice rect {
    fill: #e2f770;
}
.cat-Mystery rect {
    fill: #ede15b;
}
.cat-Comedy rect {
    fill: #bdcf32;
}
.cat-Adventure rect {
    fill: #87bc45;
}
.cat-Game rect {
    fill: #27aeef;
}
.cat-Music rect {
    fill: #b33dc6;
}
.cat-Harem rect {
    fill: #d48e2d;
} */
