@font-face {
    font-family: 'Manga Temple';
    src: url(../data/mangat.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Manga Temple', sans-serif;
    font-size: 15px;
    padding: 30px;
    background: url('../data/gojo_panels.png') no-repeat center center fixed;
    background-size: cover;
}

form {
    margin-top: 20px;
    margin-left: 50px;
}

/* Axis */
.axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 14px;
    fill: #6b6b6b;
}

.barAxis text {
    font-size: 10px;
    fill: #6b6b6b;
}

.axis-title {
    font-size: 14px;
    fill: #1b1919;
}

.y-axis .tick:first-child line {
    stroke: #b1b1b1;
}

.y-axis .tick:first-child text {
    display: none;
}

.x-axis .tick:first-child line {
    display: none;
}

.axis path {
    display: none;
}


.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: white;
    border: solid 0.5px #aaa;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    padding: 6px;
}

.tooltip ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tooltip li {
    font-size: 12px;
    color: #333;
    margin-bottom: 4px;
}


.tooltip h3 {
    margin: 0;
    padding-bottom: 8px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    font-weight: 600;
}

.tooltip p {
    margin: 8px 0;
    color: #555;
    font-size: 12px;
}

.chart-row {
    display: flex;
    flex-direction: row;
}

.chart-container {
    background-color: white;
    padding: 10px;
    margin: 0;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-top: 20px;
}

/* Stacked bar chart */
rect {
    shape-rendering: crispEdges;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Manga Temple', sans-serif;
}

#container-packed-bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;

}

#scatter-plot {
    background-color: white;
    padding: 10px;
    margin-left: 500px;
    border: none;

}

#packed-bubble-scatter {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
}


#bar-chart,
#scatter-plot,
#packed-bubble-scatter,
#container-packed-bubble {
    padding: 10px;
    margin: 0;
    border: none;
    border-radius: 10px; /* Adjust as needed */
}

#packed-bubble-container,
#scatter-plot-container {
    flex: 1;
    margin-right: 20px;
}

#legend-global {
    position: fixed;
    right: 100px;
    background: white;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    top: 100px;
    cursor: move;
}

#legend-global:active {
    border-style: dashed;
}

#bar-chart-container {

}


#speech-bubble {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 100px;
    margin-bottom: 20px;
    border: 2px solid #000000;
    margin-left: 20px;
    position: relative;
}

#speech-bubble::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent #000000 transparent transparent;
    transform: translateY(-50%);
    background-color: #ffffff;
    border-radius: 8px;
}


